.section {
  margin-bottom: 70px;
}
.btnList {
  display: flex;
  gap: 32px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
