.button {
  padding: 20px 60px;
  border: 1px solid #598d66;
  color: #598d66;
  font-size: 20px;
  transition: ease-in 0.25s;
}
.button:hover {
  background-color: #598d66;
  color: #f4f6f5;
}
.button:focus {
  background-color: #d4e8d9;
  color: #598d66;
}
.button:active {
  background-color: #376b44;
  color: #fff;
}
.rounded {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #d4e8d9;
  color: #2c2d35;
}

.activ {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #376b44;
  color: #f4f6f5;
}
